*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --color: #000;
}

* {
    -webkit-tap-highlight-color: transparent; /* remove tap highlight on mobile */
}


body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* reset tags style default */
a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input,
textarea,
button {
    background: transparent;
}

a, label, img, button, input, textarea, select {
    outline: none;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit; /* remove default styling of tag a when displayed on mobile */
}

i, em {
    font-style: italic;
}

b, strong {
    font-weight: 600;
}

.ml-auto {
    margin-left: auto;
}

.d-flex {
    display: flex;
}

.text-primary {
    color: var(--footer-primary-bg-color);
}

.text-secondary {
    color: #fff;
}

.rounded-circle {
    border-radius: 50%;
}

.border {
    border: 1px solid #b4b3b3;
}